
:root {
    --off-white: #fafafa;
}

body {
    font-family: 'Arvo';
    margin: auto;
}

/* Nav */

.nav {
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    position: relative;
}

.tags {
    justify-content: flex-end;
    padding-right: 50px;
}

.link {
    text-decoration: none;
    color: #0b8441;
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
}

.link:hover {
    cursor: pointer;
}

/* Slide */

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    max-width: 100%;
    height: 90vh;
    transition: ease 4000ms;
}

.prevArrow {
    position: absolute;
    top: 50%;
}

.nextArrow {
    position: relative;
    top:50%;
    right: 5%;
}

/* Section 1 */

.section1 {
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 200;
    height: 60vh;
}

.image {
    min-width: 100%;
    height: auto;
}

.full-logo {
    margin-top: 2%;
}

#row2 {
    padding-top: 60px;
    font-size: 40px;
}

.iconBox {
    padding-top: 50px;
}

#row3 {
    text-align: center;
}

.subhead {
    font-size: 25px;
}

.section2 {
    padding-top: 50px;
    background-color: rgba(11, 132, 65, .6);
    padding-bottom: 50px;
}

#row4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MLA {
    border-radius: 50%;
    border-color: white;
    border-style: double;
    border-width: 15px;
}

.mla-text {
    font-size: 24px;
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    float: left;
}

.section3 {
    text-align: center;
    padding-top: 20px;
}

.formText {
    text-align: center;
}

.form {
    width: 50%;
    margin: 0;
    top: 50%;
    -ms-transform: translateX(50%);
    transform: translateX(50%);

}

.section4 {
    height: 20vh;
    background-color: darkgray;
    max-width: 100%;
    margin-top: 40px;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.address {
    margin: 65px;
}

.copy {
    margin: 100px;
}
/* 

.section1 {
    height: 70vh;
    font-family: 'Montserrat';
    font-weight: 200;
    display: inline-block;
   
}

.full-logo {
    width: 100%;
    margin-top: 10%;
}

.about {
    text-align: center;
    margin: auto;
}

.title {
    margin: 10px;
}

.info {
    margin: 10px;
    font-size: 40px;
}

#row2 {
    padding-top: 60px;
}

#row3 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.subhead {
    font-size: 35px;
    font-weight: 200;
}

.section2 {
    height: 80vh;
    font-family: 'Montserrat';
    font-weight: 350;
    background-color: rgba(11, 132, 65, .6);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

#row4 {
    margin: 0;
    position: absolute;
    top: 15%;
    align-items: center;
}

.MLA {
    width: 100%;
    height: auto;

    
}

.mla-text {
    
    font-size: 25px;
    text-align: center;
    color: white;
    
}

.section3{
    text-align: center;
    margin-top: 40px;
    display: inline-block;
}

.formText {
    text-align: center;
}

.form {
    margin: 0 650px 80px 650px;
    display: inline-block;
}

.section4 {
    height: 25vh;
    background-color: darkgray;
    max-width: 100%;
    margin-top: 5px;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.address {
    margin: 65px;
}

.copy {
    margin: 100px;
} */


@media screen and (max-width: 575.98px) {
    .navbar-brand {
        justify-content: center;
    }
    .nav-logo {
        justify-content: center;
        max-width: 100%;
        height: auto;
    }

    .each-slide-effect > div {
        display: none;
    }

    .toggle {
        text-align: center;
    }

    .tags {
        justify-content: center;
        padding-left: 20%;
    }

    .section1 {
        overflow: auto;
    }
    
    .full-logo {
        max-width: 100%;
        height: auto;
    }

    #row2 {
        padding-top: 10px;
        font-size: 25px;
        justify-content: center;
    
    }

    .iconBox {
        min-width: 300px;
        overflow: auto;
        padding-top: 10px;
    }

    #row4 {
        display: flex;
        flex-direction: column;
    }

    .MLA {
        max-width: 100%;
        height: auto;
    }

    .space {
        display: none;
    }

    .mla-text {
        padding-top: 25px;
        overflow: scroll;
    }

    

    .section4 {
        text-align: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .address {
        margin: 0px;
        padding-top: 10px;
    }
    .copy {
        margin: 0px;
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 768px) {
    .nav-logo {
        padding-left: 15%;
    }
    
    .tags {
        padding-left: 25%;
    }

    .each-slide-effect > div {
        background-size: contain;
        height: 53vh;
    }

    .full-logo {
        width: 500px;
        height: 100px;
    }

    .section1 {
        overflow: scroll;
    }

    #row2 {
        padding-top: 20px;
        justify-content: center;
    }

    #row4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .MLA {
        padding-left: 15%;
    }

    .mla-text {
        padding-top: 15px;
    }

    .section4 {
        text-align: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .address {
        margin: 0px;
        padding-top: 10px;
    }
    .copy {
        margin: 0px;
        padding-bottom: 10px;
    }
    
}

@media screen and (max-width: 992px) {
    .each-slide-effect > div {
        background-size:cover;    
    }

    .section1 {
        overflow: scroll;
    }

    #row4 {
        display: flex;
        flex-direction: column;
    }


    


}




